# ── Virtuoso ─────────────────────────────────
VIRTUOSO_ENDPOINT=https://virtuoso.simssa.ca/sparql

# ── Logging ──────────────────────────────────
LOG_LEVEL=info

# ── Nginx ─────────────────────────────────────
HOST_NAME=localhost

# ── LLM ──────────────────────────────────────
LLM_API_KEY=Google_AI_API_key      # Get from https://ai.google.dev
LLM_MODEL=gemini-2.0-flash          